.card {

position: relative;
width: 600px;
padding: 20px;
max-width: 85vw;
height: 50vh;
border-radius: 20px;
background-size: cover;
background-position: center;
/* view height determine the ratio of the img in function of the screen*/
box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0);
}


.card > h3 {

    position: absolute;
    bottom: 10px;
    color: white;

}




.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;


}


.swipe {
    position: absolute; /* this is the css property to use to make the cards on top of each other */
    
}